{% extends 'base.html.twig' %}

	{% block title %}Bienvenue sur Pear!{% endblock %}

	{% block body %}
		<style>
			.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
			.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
		</style>
		
		
		<div style="position: center;margin-left: auto;
  margin-right: auto;">
  <table>
  <tr>
  <td>
			<h1> Bienvenue sur Pear! </h1>

		
			<h5> Pear est un site de prêt gestion de prêt de materiel.</h5>

		
			<h5 style="position: center;margin-left: auto;
  margin-right: auto;"> Veuillez vous connecter. </h5>
	</td>
	<td>		<img src="https://www.logolynx.com/images/logolynx/6b/6b8c0718034a984dd1cec7517595de43.png" style="width:500px;height:650px;position: center;margin-left: auto;
  margin-right: auto;" >
  </td>
  </tr>
</table>

		</div>

	{% endblock %}
