{% extends "base.html.twig" %}

 {% block title %}Liste des objets{% endblock %}
 
    {% block body %}
    
      <div class="row">
        <div class="col-md-3">
          {%include  'product/_filter.html.twig' with {form: form} only %}
        </div>
      
        <div class="col-md-9"> 
          <div class="grid">
            <table class="table table-hover">         
              <tbody>
                {%if products == null%}
            <h4>Vous n'avez aucun objet à prêter pour l'intant! N'hésitez pas a en rajouter dès maintenant.</h4>
                {%endif%}
                  {%for product in products %}              
                    <tr>
                      <td>{% include 'product/_card.html.twig' with {product: product} only %}</td>                
                      <td>
                        <button type="button" class="btn btn-outline-primary"
                        onclick="self.location.href='/show-product/{{product.id}}'">Details</button>      
                        <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/delete-product/{{product.id}}'">Supprimer</button>   
                        <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/edit-product/{{product.id}}'">Modifier</button>   
                        <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/qrcode-product/{{product.id}}'">Générer un QrCode</button>        
                      </td>
                    </tr>    			
                  {% endfor %}
             
              </tbody>
            </table> 
          </div>    
        </div>
      </div>
  {% endblock %}










