{% extends "base.html.twig" %}

 {% block title %}Liste des objets{% endblock %}
 
    {% block body %}

    <div class row>
      <div class="col-md-3">
        {%include  'product/_filter.html.twig' with {form: form} only %}
      </div>
    
      <div class="col-md-6"> 
        <div class="grid">
          <table class="table table-hover">         
            <tbody>
              {% if Liste is defined %}
                {%for product in Liste %}              
                  <tr>
                    <td>{% include 'product/_card.html.twig' with {product: product} only %}</td>                
                    <td>
                      <button type="button" class="btn btn-outline-primary"
                      onclick="self.location.href='/show-product/{{product.id}}'">Details</button>      
                      <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/delete-product/{{product.id}}'">Supprimer</button>   
                      <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/edit-product/{{product.id}}'">Modifier</button>   
                      <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/qrcode-product/{{product.id}}'">Générer un QrCode</button>        
                    </td>
                  </tr>    			
                {% endfor %}
              {%endif%}
            </tbody>
          </table> 
        </div>    
      </div>
    </div>
  {% endblock %}



