{% extends "base.html.twig" %}

 {% block title %}Liste des objets{% endblock %}
 
  {% block body %}


     <div class="container">
      <div class="row">
        <div class="col-md-3">
          {%include  'product/_filter.html.twig' with {form: form} only %}
        </div>
      
        <div class="col-md-9"> 
          <div class="grid">
            <table class="table table-hover">         
              <tbody>
              {% if products == null %}
<h4>Il n'y a aucun objet disponible pour le moment</h4>
            <p>Si vous êtes loueur, attendez quelques jours qu'un objet soit proposé à la location.</p>
            <p>Si vous êtes prêteur, n'hésitez pas a ajouter à objet à prêter!</p>
              {%endif%}
                {%for product in products %}              
                  <tr>
                    <td>{% include 'product/_card.html.twig' with {product: product} only %}</td>                
                    <td>                    
                      <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/show-product/{{product.id}}'">Details</button>
                      <button type="button" class="btn btn-outline-info" onclick="self.location.href='/qrcode-product/{{product.id}}'">QrCode</button>
                      <button type="button" class="btn btn-outline-danger" onclick="self.location.href='/delete-product/{{product.id}}'">Supprimer</button> 
                    </td>
                  </tr>    			
                {% endfor %}
              
              </tbody>
            </table> 
          </div>    
        </div>
      </div>
    </div>
   
  {% endblock %}



