{% extends "base.html.twig" %}


{% block title %} Confirmation d'emprunt ou de rendu : {% endblock %}

{% block body %}



 

  <h3 text-align="center" > </br></br> Vous avez bien confirmé que l'objet vous a été rendu. </h3>
  <p text-align="center" > </br> Il est maintenant disponible et peut-être re-loué. </p>



{% endblock %}

