<div class="card">
    {# <img src="{{ product.image }}" alt="" class="card-img-top"> #}

    <div class="card-body">
        <h5 class="card-title"> {{borrowing.idProduct}} </h5>
        <div clas="card-title">
            {{borrowing.dateDebut|date('Y-m-d')}}
        </div>
        <div clas s="card-title">
            {{borrowing.dateFin|date('Y-m-d')}}
        </div>
    </div>

</div>