{% extends "base.html.twig" %}


 {% block title %}Liste des emprunts{% endblock %}
 
    {% block body %}
    
<div class="container">
      <div class="row">
        {# <div class="col-md-3">
          {%include  'product/_filter.html.twig' with {form: form} only %}
        </div> #}

        <div class="col-md-9"> 
          <div class="grid">
            <table class="table table-hover">         
              <tbody>
              {% if listBorrowing is defined %}
                {%for borrowing in listBorrowing %}  
                 <tr>
                    <td>{% include 'borrowing/_card_borrowing.html.twig' with {borrowing: borrowing} only %}</td>                
                    <td>                    
                      <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/show-borrowings/{{borrowing.id}}'">Details</button>
                                      
                      <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/delete-borrowing/{{borrowing.id}}'">Supprimer</button>
                    </td>
			      </tr> 
                {% endfor %}
              {%endif%}
              </tbody>
            </table> 
          </div>    
        </div>
      </div>
    </div>
{% endblock %}
