{% extends "base.html.twig" %}


{% block title %} Passage en prêteur : {% endblock %}

{% block body %}



 

  <h3 text-align="center" > </br></br> L'opération s'est correctement déroulée. </h3>
  <p text-align="center" > </br> L'utilisateur est maintenant prêteur et peut maintenant proposer des objets à louer. </p>



{% endblock %}

