{% extends "base.html.twig" %}



 {% block title %}Liste des utilisateurs{% endblock %}
 
    {% block body %}
     <div class="grid">
            <table class="table table-hover">         
              <tbody>
              {%if listUser == null%}
                <h4>Il n'y a aucun utilisateur enregistré pour l'instant</h4>
              {%endif%}
                  {%for user in listUser %}             
                    <tr>
                      <td>{% include 'user/_card_user.html.twig' with {user: user} only %}</td>                
                      <td>
                        <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/show-client/{{user.id}}'">Details</button>      
                        <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/edit-client/{{user.id}}'" >Modifier</button>   
                        <button type="button" class="btn btn-outline-primary" onclick="self.location.href='/delete-client/{{user.id}}'" >Supprimer</button>   
                      </td>
                    </tr>    			
                  {% endfor %}
              </tbody>
            </table> 
          </div> 



     
{% endblock %}
