{% extends "base.html.twig" %}


{% block title %} Passage en prêteur : {% endblock %}

{% block body %}



 

  <h3 text-align="center" > </br></br> Vous avez demandé à devenir préteur. </h3>
  <p text-align="center" > </br> L'administrateur Billy The Pear en a été informé et va confirmer votre demande bientôt.</br>Cela peut prendre un peu de temps. </p>



{% endblock %}

