{% extends "base.html.twig" %}



 {% block title %}Liste des preteurs{% endblock %}
 
    {% block body %}
     <div class="grid">
            <table class="table table-hover">         
              <tbody>
                {% if listLender is defined %}
                  {%for user in listLender %}             
                    <tr>
                      <td>{% include 'lender/_card_lender.html.twig' with {user: user} only %}</td>                
                      <td>
                        <button type="button" class="btn btn-outline-primary">Details</button>      
                        <button type="button" class="btn btn-outline-primary" >Supprimer</button>   
                        <button type="button" class="btn btn-outline-primary" >Modifier</button>   
                      </td>
                    </tr>    			
                  {% endfor %}
                {%endif%}
              </tbody>
            </table> 
          </div> 



     
{% endblock %}
